@font-face {
  font-family: 'Montserrat';
  src: url("font/Montserrat-Regular.otf") format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("font/Montserrat-Bold.otf") format('opentype');
  font-weight: bold;
}
$regalBlue: rgb(34, 63, 87);
$pictonBlue: rgb(114, 159, 198);
$steelBlue: rgb(80, 123, 165);

html{
  height: 100%;
  width: 100%;
}
body{
  // background: $regalBlue;
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  height: 100%;
}

.transition-table{
  border-collapse: collapse;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  thead{
    background: rgba(0, 150, 136, 0.17);
  }
  thead>tr>th{
    border: 1px solid #b5b0b0;
    padding-left: 10px;
    padding-right: 10px;
  }
  tbody>tr>td{
    padding: 5px;
    border: 1px solid #b5b0b0;
  }
}

section{
  width: 100%;
  background: #00BCD4;
  padding: 15px;
  h2{
    text-align: center;
    font-size: 23pt;
    margin: 0;
    margin-bottom: 10px;
    color: #ECEFF1;
  }
  .automato-form{
    width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
    tbody>tr>td{
      padding: 5px;
      input, textarea{
        font-family: Montserrat;
      }
    }
  }
}
#automata{
  height: 100%;
  width: 100%;
}
.h100{
  height: 100%;
}
.table-container{
  margin: 0 auto;
background: #fbfbfb;
width: 900px;
border-radius: 10px;
/* padding: 9px; */
overflow: hidden;
box-shadow: 0 1px 25px rgba(0, 0, 0, 0.32), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.estado{
  width: 60px;
      height: 60px;
      display: inline-block;
      margin-right: 170px;
      margin-bottom: 155px;
      text-align: center;
      background: whitesmoke;
      border: 2px solid;
      border-radius: 50%;
      padding: 16px;
      font-size: 15pt;
      font-family: Montserrat;
      font-weight: bold;
      box-sizing: border-box;
}
.valid{
  opacity: 1;
      white-space: nowrap;
}
.invalid{
  opacity: 0.3;
      white-space: nowrap;
}
.c{
  text-align: center;;
}
.checkerInput{
  font-family: Montserrat;
  font-size: 15pt;
}
.btnV{
  margin-top: 8px;
  font-family: Montserrat;
    /* width: 80px; */
    padding: 5px 14px;
    border-radius: 3px;
    border: 0;
    /* height: 25px; */
    background: #03A9F4;
    color: white;
    font-size: 15pt;
}

svg{
  // width: 100%;
}

.cntr{
  width: 100%;
  text-align: center;
}
.node rect {
  stroke: #333;
  fill: #fff;
}

.edgePath path {
  stroke: #333;
  fill: #333;
  stroke-width: 1.5px;
}
