<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="text/javascript" src="jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="automata.js"></script>
    <script type="text/javascript" src="demo.js"></script>
    <!-- <script type="text/javascript" src="script.js"></script> -->
    <link rel="stylesheet" href="style/automata.css/automata.css" media="screen" title="no title">
  </head>
  <body ng-app="Automatas" ng-controller="automatasController as ctrl">
    <section class="input-section">
      <h2>Entradas</h2>
      <div class="table-container">
        <table class="automato-form">
          <tbody>
            <tr >
              <td colspan="2">
                <input type='file' accept='text/plain' onchange='openFile(event)'>
              </td>
              <td>
                <button type="button" name="button" ng-click="getDatosTextarea()">Extraer</button>
                <button type="button" name="button" ng-click="processForm()">Procesar</button>
              </td>
            </tr>
            <tr>
              <td rowspan="6">
                <textarea  id="automata" placeholder="Automata"></textarea>
              </td>
            </tr>
            <tr><td><input type="text" ng-model="automataForm.q" placeholder="Q (Estados)"></td>
            <td rowspan="6" ><textarea class="h100" ng-model="automataForm.d" placeholder="δ (Función de transición)"></textarea></tr>
            <tr><td><input type="text" ng-model="automataForm.e" placeholder="Σ (Alfabeto)"></td></tr>
            <tr><td><input type="text" ng-model="automataForm.s" placeholder="Q0 (Estado inicial)"></td></tr>
            <tr><td><input type="text" ng-model="automataForm.f" placeholder="F (Estados finales)"></td></tr>
            <tr></td></tr>
            <!-- <tr><td>Función de transición<br><textarea ng-change="getDatosTextarea()" ng-model="automataForm.d" id="container_text" placeholder="δ (Función de transición)"></textarea></td></tr> -->
          </tbody>
        </table>
      </div>
    </section>
    <br>
    <section>
      <h2>Tabla de transición</h2>
      <div class="table-container">
      <table class="transition-table">
        <thead>
          <tr>
            <th rowspan="2" style=" width: 84px;">Estado</th>
            <th colspan="{{automata.alfabeto.length}}">Entrada</th>
            <!-- <th ng-repeat="entrada in automataWork.e">{{letra}}</th> -->
          </tr>
          <tr>
            <th ng-repeat="letra in automata.alfabeto"> {{letra}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="transicion in automata.funcionTransicion">
            <td style="text-align:right">{{showTipo(automata.estados[$index])}} {{automata.estados[$index]}}</td>
            <td ng-repeat="letra in automata.alfabeto">{{transicion[letra].join(',')}}</td>
            <!-- <td ng-repeat="funcion in transicion">{{transicion.}}</td> -->
          </tr>
        </tbody>
      </table>
    </div>
    </section>
  <br>
    <section>
      <h2>Validación de palabra</h2>

      <input type="text" ng-model="cadena"><button type="button" ng-click="validar()">Validar</button>
      {{totalFinales}} <span ng-if="totalFinales">Es válida!</span> <span ng-if="!totalFinales">NO es válida!</span>
    </section>
  <br>
  <section>
    <h2>Gráfico</h2>
    <svg width="100" height="100" ng-repeat="estado in automata.estados" id=e_{{estado}}>
      <circle cx="50" cy="50" r="40" stroke="black" stroke-width="2" fill="white" />
    </svg>

    <div class="estado" ng-repeat="estado in automata.estados" id=e_{{estado}}>
      {{estado}}
    </div>
    <!-- <canvas id="automataPlot" width="800" height="500"></canvas> -->
  </section>
  <br>
    <section>
      <pre>{{resultado | json:5}}</pre><br><br>
      <pre>{{transiciones | json}}</pre>
    </section>
    <!-- <button type="button" ng-click="processForm()">Procesar</button> -->


    <!-- <pre>      {{file.data}}    </pre> -->
    <!-- <textarea name="name" id="container_text" ></textarea> -->

    <br>
    <!-- <input type="text" ng-model="est" placeholder="Estado">
    <input type="text" ng-model="ent" placeholder="Entrada">
    <button type="button" ng-click="check()">Checar</button> -->
    <!-- <span>{{resultCheck}}</span> -->
    <br><br><br>


    <!-- <pre>{{automata | json:4}}</pre><br><br> -->
    <!-- <pre><code>{{automataWork | json:4}}</code></pre><br><br> -->


  </body>
</html>
